html, body{
    height: 100%;
    overflow: hidden;
}
body, p, h1, h2, h3, h4, h5, h6, ul, li, ol{
    margin: 0;
}
header, main, section, aside, footer, hgroup{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
i{
    font-style: normal;
}

/* 所有文本默认禁止选中 */
div, p, h1, h2, h3, h4, h5, h6, span, i, text{
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}